<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/Logo.png" type="image/gif" sizes="16x16">
    <title>Create Reward</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header">Header</div>
<div class="container">
    <form th:action="@{/admin/create-reward}" method="post">
        <div class="row">
            <input type="text" name="name" id="name">
        </div>
        <div class="row">
            <input type="number" name="points" id="points" step="1">
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <input type="submit" value="save">
            </div>
        </div>
    </form>
</div>
</body>
</html>