<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/Logo.png" type="image/gif" sizes="16x16">
    <title>Create Reward</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header"></div>
</div>
<div class="container">
    <form th:action="@{/admin/create-reward}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <label for="name">Reward Naam</label>
                </div>
                <div class="row">
                    <label for="points">Aantal Punten</label>
                </div>
                <div class="row">
                    <label for="picture">Foto Reward</label>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <input type="text" name="name" id="name">
                </div>
                <div class="row">
                    <input type="number" name="points" id="points" step="1">
                </div>
                <div class="row">
                    <input type="file" name="picture" id="picture">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="submit" value="save" class="btn btn-primary m-lg-1">
            </div>
        </div>
    </form>
</div>
</body>
</html>