<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>register new admin</title>
</head>
<body>
<form th:action="@{/admin/productiehuis-register}" method="post">
    <h1>
        register
    </h1>
    <label for="username">Enter your username:</label>
    <input class="m-lg-1 input" type="text" name="username" id="username" size="60"><br>
    <label for="password">Enter your password:</label>
    <input class="m-lg-1 input" type="password" name="password" id="password" size="60"><br>
    <input class="btn btn-primary m-lg-1" type="submit" name="register" id="register" value="Register">
    <p class="login-link-text">Heb je al een account?<a class="login-link" th:href="|/login|">klik hier</a></p>
</form>
</body>
</html>