<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Verify</title>
</head>
<body>
    <div th:replace="fragments/header">Header</div>
    <br>
    <div class="container">
    <form th:action="@{|/admin/verify/${user.getId()}|}" method="post">

        <p th:text="${user.getUsername()}"></p>
        <p th:text="${profile.getDescription()}"></p>$
        <p th:text="${profile.getNameOwner()}"></p>
        <input class="btn btn-primary" type="submit" id="submit" name="submit" value="verify">
        <a class="btn-primary btn" href="/admin/verifyproductiehuis">Cancel</a>
    </form>
    </div>
</body>
</html>