<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <title>Verify Productiehuizen</title>
</head>
<body>
    <div th:replace="fragments/header">Header</div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p class="data">geverifieerded productiehuizen</p>
                <div th:each="productiehuis:${productiehuizenV}">
                    <a class="menu-link" th:href="'/admin/verify/'+${productiehuis.getId()}" th:text="'- '+ ${productiehuis.getUsername()}" href="/"></a>
            </div>
            </div>
            <div class="col-3">
                <p class="data">non-geverifieerded productiehuizen</p>
                <div th:each="productiehuis:${productiehuizenNotV}">
                    <a class="menu-link" th:href="'/admin/verify/'+${productiehuis.getId()}" th:text="'- '+ ${productiehuis.getUsername()}" href="/"></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>