<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/Logo.png" type="image/gif" sizes="16x16">
    <title>register productiehuis</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="offset-lg-3 col-lg-6">
    <div th:replace="fragments/header">Header</div>
    <br>
    <form th:action="@{|/productiehuis/edit-profilepage/${user.getId()}|}" method="post">
        <h1>
            profiel informatie
        </h1>
        <label for="nameCompany">naam bedrijf:</label>
        <input class="m-lg-1 input" type="text" name="nameCompany" id="nameCompany" th:value="${productiehuisProfile.getNameCompany()}" ><br>
        <label for="description">beschrijving bedrijf:</label>
        <input class="m-lg-1 input" type="text" name="description" id="description" th:value="${productiehuisProfile.getDescription()}" ><br>
        <label for="nameOwner">Naam eigenaar:</label>
        <input class="m-lg-1 input" type="text" name="nameOwner" id="nameOwner" th:value="${productiehuisProfile.getNameOwner()}" ><br>
        <label for="companyNumber">BTW-nummer:</label>
        <input class="m-lg-1 input" type="text" name="companyNumber" id="companyNumber" th:value="${productiehuisProfile.getCompanyNumber()}" ><br><br>
        <h5>Locatie:</h5>
        <label for="province">provincie :</label>
        <input class="m-lg-1 input" type="text" name="province" id="province" th:value="${productiehuisProfile.getProvince()}" ><br>
        <label for="city">stad :</label>
        <input class="m-lg-1 input" type="text" name="city" id="city" th:value="${productiehuisProfile.getCity()}" ><br>
        <label for="street">straatnaam :</label>
        <input class="m-lg-1 input" type="text" name="street" id="street" th:value="${productiehuisProfile.getStreet()}" ><br>
        <label for="postalcode">postcode:</label>
        <input class="m-lg-1 input" type="text" name="postalcode" id="postalcode" th:value="${productiehuisProfile.getPostalCode()}" ><br>
        <label for="houseNumber">huisnummer:</label>
        <input class="m-lg-1 input" type="text" name="houseNumber" id="houseNumber" th:value="${productiehuisProfile.getHouseNumber()}" ><br>

        <input  class="btn btn-primary" type="submit" name="save" id="save" value="Opslaan">
    </form>
</div>
</body>
</html>