<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/Logo.png" type="image/gif" sizes="16x16">
    <title>register productiehuis</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="offset-lg-3 col-lg-6">
    <form th:action="@{/productiehuis/registerProductiehuis}" method="post">
        <h1>
            REGISTER
        </h1>
        <label for="username">gebruikersnaam:</label>
        <input class="m-lg-1 input" type="text" name="username" id="username" th:value="${user.getUsername()}" ><br>
        <label for="password">wachtwoord:</label>
        <input class="m-lg-1 input" type="password" name="password" id="password" ><br>
        <label for="nameCompany">naam bedrijf:</label>
        <input class="m-lg-1 input" type="text" name="nameCompany" id="nameCompany" ><br>
        <label for="description">beschrijving bedrijf:</label>
        <input class="m-lg-1 input" type="text" name="description" id="description" ><br>
        <label for="nameOwner">Naam eigenaar:</label>
        <input class="m-lg-1 input" type="text" name="nameOwner" id="nameOwner" ><br>
        <label for="companyNumber">BTW-nummer:</label>
        <input class="m-lg-1 input" type="text" name="companyNumber" id="companyNumber" ><br><br>
        <h5>Locatie:</h5>
        <label for="province">provincie :</label>
        <input class="m-lg-1 input" type="text" name="province" id="province" ><br>
        <label for="city">stad :</label>
        <input class="m-lg-1 input" type="text" name="city" id="city" ><br>
        <label for="street">straatnaam :</label>
        <input class="m-lg-1 input" type="text" name="street" id="street" ><br>
        <label for="postalcode">postcode:</label>
        <input class="m-lg-1 input" type="text" name="postalcode" id="postalcode" ><br>
        <label for="houseNumber">huisnummer:</label>
        <input class="m-lg-1 input" type="text" name="houseNumber" id="houseNumber" ><br>



        <input  class="btn btn-primary" type="submit" name="register" id="register" value="Register">
        <p class="login-link-text">Heb je al een account?<a class="login-link" th:href="|/login|">klik hier</a></p>
    </form>
</div>
</body>
</html>