<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title th:value="${application}">Setalight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <!--    add here personal CSS-->
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>
<div class="container">
    <div class="card-columns">
        <div sec:authorize="hasAnyAuthority('PRODUCTIEHUIS')" th:each="event : ${events}" class="card p-2">
            <h3 th:text="${event.getName()}">eventName</h3>
            <p th:text="${event.getDescription()}">description</p>
            <p th:text="${event.getDateString()}">datum</p>
            <p th:text="'begin tijd ' + ${event.getStartTime()}">startTate</p>
            <p th:text="'eind tijd ' + ${event.getEndTime()}">endTime</p>
            <div class="card-footer">
                <a th:href="'/event/events/' + ${event.getId()}" class="btn btn-danger" href="/">going?</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>