<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title>profiel productiehuis</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header">Header</div>
    <br>
    <h3>Mijn profiel</h3>
    <br>
    <div class="card-columns ">
        <div class="card p-2">
            <h3 th:text="${user.getUsername()}"></h3>
            <h4 th:text="${productiehuisProfile.getNameCompany()}"></h4>
            <p  th:text="${productiehuisProfile.getDescription()}"></p>
            <p  th:text="'Naam eigenaar: ' +${productiehuisProfile.getNameOwner()}"></p>
            <p  th:text="'BTW-nummer: ' +${productiehuisProfile.getCompanyNumber()}"></p>
            <h5>Locatie:</h5>
            <p  th:text="'Provincie: '+${productiehuisProfile.getProvince()}"></p>
            <p  th:text="${productiehuisProfile.getCityAndPostcode()}"></p>
            <p  th:text="${productiehuisProfile.getStreetAndNumber()}"></p>
            <div class="card-footer" >
                <a class="btn btn-primary" th:href="'/productiehuis/edit-profilepage/' + ${user.getId()}" href="/">edit</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>