<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title>profiel productiehuis</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header">Header</div>
    <br>
    <h3>Mijn profiel</h3>
    <br>
    <a class="menu-link" th:href="'/productiehuis/edit-profilepage/' + ${user.getId()}" href="/">edit</a>
    <br>
    <div class="row">
        <p class="col-2">gebruikersnaam:</p>
        <p class="col-2" th:text="${user.getUsername()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Naam bedrijf:</p>
        <p class="col-2" th:text="${productiehuisProfile.getNameCompany()}"></p>
    </div>
    <div class="row">
        <p class="col-2">beschrijving:</p>
        <p class="col-2" th:text="${productiehuisProfile.getDescription()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Naam eigenaar:</p>
        <p class="col-2" th:text="${productiehuisProfile.getNameOwner()}"></p>
    </div>
    <div class="row">
        <p class="col-2">BTW-nummber:</p>
        <p class="col-2" th:text="${productiehuisProfile.getCompanyNumber()}"></p>
    </div>
    <h5>Locatie:</h5>
    <div class="row">
        <p class="col-2">Provincie:</p>
        <p class="col-2" th:text="${productiehuisProfile.getProvince()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Stad:</p>
        <p class="col-2" th:text="${productiehuisProfile.getCity()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Straatnaam:</p>
        <p class="col-2" th:text="${productiehuisProfile.getStreet()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Postcode:</p>
        <p class="col-2" th:text="${productiehuisProfile.getPostalCode()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Huisnummber:</p>
        <p class="col-2" th:text="${productiehuisProfile.getHouseNumber()}"></p>
    </div>

</div>
</body>
</html>