<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/Logo.png" type="image/gif" sizes="16x16">
    <title>register productiehuis</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="offset-lg-3 col-lg-6">
    <form th:action="@{/productiehuis/registerProductiehuis}" method="post">
        <h1>
            REGISTER
        </h1>
        <label for="username">gebruikersnaam:</label>
        <input class="m-lg-1 input" type="text" name="username" id="username" ><br>
        <label for="password">wachtwoord:</label>
        <input class="m-lg-1 input" type="password" name="password" id="password" ><br>
        <label for="username">naam bedrijf:</label>
        <input class="m-lg-1 input" type="text" name="username" id="nameCompany" ><br>
        <label for="password">beschrijving bedrijf:</label>
        <input class="m-lg-1 input" type="text" name="password" id="description" ><br>
        <label for="username">Naam eigenaar:</label>
        <input class="m-lg-1 input" type="text" name="username" id="nameOwner" ><br>
        <label for="password">BTW-nummer:</label>
        <input class="m-lg-1 input" type="text" name="password" id="companyNumber" ><br>

        <input  class="btn btn-primary" type="submit" name="register" id="register" value="Register">
        <p class="login-link-text">Heb je al een account?<a class="login-link" th:href="|/login|">klik hier</a></p>
    </form>
</div>
</body>
</html>