<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <title>Vrienden toevoegen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header"></div>

<ul>
    <form th:action="@{|/user/addFriends/${currentProfile.getUserId().getId()}/${profile.getUserId().getId()}|}" method="post" th:each="profile :${friends}">
        <li th:if="${currentProfile}!=${profile}">
            <p th:text="${profile.getUserId().getUsername()}"></p>
<!--            <input name="user" id="user" type="sumbit" th:value="${profile.getUserId().getId()}">-->
            <input type="submit" value="Add friend">
        </li>
    </form>
</ul>
</body>
</html>