<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title th:value="${application}">Setalight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>
<div class="container">
    <p>Algemene gegevens</p>
    <form th:action="@{|/user/edit-profile/${user.getId()}|}" method="post">
        <div class="row">
            <label class="col-2" for="email">mailadres: </label>
            <input class="col-4 input"  type="text" name="email" id="email" th:value="${profile.getEmail()}">
        </div>
        <br>
        <div class="row">
            <label class="col-2" for="birthDate">geboorte datum: </label>
            <input class="col-2 input" type="date" name="birthDate" id="birthDate" th:value="${profile.getBirthDateStringProfile()}">
        </div>
        <br>
        <div class="row">
            <label class="col-2" for="hairColor">haarkleur: </label>
            <input class="col-2 input" type="text" name="hairColor" id="hairColor" th:value="${profile.getHairColor()}">
        </div>
        <br>
        <div class="row">
            <label class="col-2" for="length">hoe groot ben je?(m): </label>
            <input class="col-2 input" type="number" name="length" id="length" step="0.01" th:value="${profile.getLength()}">
        </div>
        <br>
        <div class="row">
            <label class="col-2" for="nationalInsuranceNumber">rijksregisternummer: </label>
            <input class="col-2 input" type="text" name="nationalInsuranceNumber" id="nationalInsuranceNumber" th:value="${profile.getNationalInsuranceNumber()}">
        </div>
        <br>
        <div class="row">
            <label class="col-2" for="profilePicture">profielfoto: </label>
            <img class="currentImage" th:src="${profile.getProfilePicture()}">
            <input class="col-4 file-input" type="file" name="profilePicture" id="profilePicture" th:value="${profile.getProfilePicture()}">
        </div>
        <br>
        <div class="row">
            <label class="col-2" for="fullPicture">volledig lichaam foto: </label>
            <img class="currentImage" th:src="${profile.getFullPicture()}">
            <input class="col-4 file-input" type="file" name="fullPicture" id="fullPicture" th:value="${profile.getFullPicture()}">
        </div>
        <br>
        <input class="btn btn-primary" type="submit" name="save" id="save" value="Save">
    <p>Contactgegevens</p>
    <table>
        <!--<tr>
            <td>Straat + nr.<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Postcode<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Gemeente<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Provincie<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Land<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Telefoonnr.<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Mobielnr.<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>E-mailadres<input type="text" name="" id=""></td>
        </tr>-->
    </table>
<!--    <input type="submit" id="submit" name="submit" value="Save">-->
</form>
</div>
</body>
</html>