<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:value="${application}">Setalight</title>
</head>
<body>
<div th:replace="fragments/header">Header</div>
<p>Algemene gegevens</p>
<form th:action="@{|/user/edit-profile/${user.getId}|}">
    <table style="width: 100%">
        <tr>
            <td>Naam:<input type="text" name="" id="" th:value="${user.getUsername()}"></td>
        </tr>
        <!--<tr>
            <td>Leeftijd:<input type="number" name="" id=""></td>
        </tr>
        <tr>
            <td>Geboortedatum: <input type="date" name="" id=""></td>
        </tr>
        <tr>
            <td>Geslacht: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Beroep/studie: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Afkomst: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Etniciteit: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Gesproken Talen: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Gesproken dialecten: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Eigen vervoer: <input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Autorijbewijs:<input type="text" name="" id=""></td>
        </tr>-->
    </table>
    <p>Contactgegevens</p>
    <table>
        <!--<tr>
            <td>Straat + nr.<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Postcode<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Gemeente<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Provincie<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Land<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Telefoonnr.<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Mobielnr.<input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>E-mailadres<input type="text" name="" id=""></td>
        </tr>-->
    </table>
    <input type="submit" id="submit" name="submit" value="Save">
</form>
</body>
</html>