<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:value="${application}">Setalight</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>
<div class="container">

    <h3>Mijn profiel</h3>
    <br>
    <a class="menu-link" th:href="'/user/edit-profile/' + ${user.getId()}" href="/">edit</a>
    <br>
    <div class="row">
        <p class="col-2">Naam:</p>
        <p class="col-2" th:text="${user.getUsername()}"></p>
    </div>
    <div class="row">
        <p class="col-2">geboorte datum:</p>
        <p class="col-2" th:text="${profile.getBirthDateString()}"></p>
    </div>
    <div class="row">
        <p class="col-2">Naam:</p>
        <p class="col-2" th:text="${profile.getEmail()}"></p>
    </div>
    <div class="row">
        <img th:src="${profile.getProfilePicture()}">
    </div>
    <div class="row">
        <img th:src="${profile.getFullPicture()}">
    </div>
    <div class="row">
        <ul>
            <li th:each="user: ${profile.getFriends()}">
                <a th:href="|/user/profilepage/${user.getUserId().getId()}|" th:text="${user.getUserId().getUsername()}"></a>
            </li>
        </ul>
        <div th:if="${user.getId()} == ${profile.getUserId().getId()}" class="col-2">
            <a th:href="'/user/addFriends/' + ${profile.getUserId().getId()}" href="/">Voeg vrienden toe</a>
        </div>
    </div>

</div>

<div class="container">
    <h3>Mijn events</h3>
    <br>
    <div class="card-columns">
        <div th:each="event : ${events}" class="card text-dark">
            <h3 th:text="${event.getName()}">eventName</h3>
            <p th:text="${event.getDescription()}">description</p>
            <p th:text="${event.getDateString()}">datum</p>
            <p th:text="'begin tijd ' + ${event.getStartTime()}">startTate</p>
            <p th:text="'eind tijd ' + ${event.getEndTime()}">endTime</p>
        </div>
    </div>
</div>
</body>
</html>