<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <title th:value="${application}">Setalight</title>
    <style>
        li {
            list-style-type: none;
        }
    </style>
    </head>
<body>
<div th:replace="fragments/header">Header</div>
<a href="/user/edit-profile">edit</a>
Algemene gegevens
<ul>
<li>Naam</li>
    <li>Leeftijd</li>
   <li>Geboortedatum</li>
    <li>Geslacht</li>
    <li>Beroep/studie</li>
    <li>Afkomst</li>
    <li>Etniciteit</li>
    <li>Gesproken Talen</li>
    <li>Gesproken dialecten</li>
    <li>Eigen vervoer</li>
    <li>Autorijbewijs</li>

</ul>
    Contactgegevens
<ul>
    <li>Straat + nr.</li>
    <li>Postcode</li>
    <li>Gemeente</li>
    <li>Provincie</li>
    <li>Land</li>
    <li>Telefoonnr.</li>
    <li>Mobielnr.</li>
    <li>E-mailadres</li>
</ul>
</body>
</html>