<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:value="${application}">Setalight</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div th:replace="fragments/header">Header</div>
<a th:href="'/user/edit-profile/' + ${user.getId()}" href="/">edit</a>

    <div class="container-fluid">
    <h4>Algemene gegevens</h4>
        <div class="row">

<div class="col">
        <p>Naam</p>
        <p th:text="${user.getUsername()}">username</p>
        </div>
    <div class="" th:each="event : ${events}">
        <p th:text="${event.getName()}">naam</p>
    </div>
    </div>
    <!--<li>Leeftijd</li>
    <li>Geboortedatum</li>
    <li>Geslacht</li>
    <li>Beroep/studie</li>
    <li>Afkomst</li>
    <li>Etniciteit</li>
    <li>Gesproken Talen</li>
    <li>Gesproken dialecten</li>
    <li>Eigen vervoer</li>
    <li>Autorijbewijs</li>-->

<h4>Contactgegevens</h4>
<ul>
    <!--<li>Straat + nr.</li>
    <li>Postcode</li>
    <li>Gemeente</li>
    <li>Provincie</li>
    <li>Land</li>
    <li>Telefoonnr.</li>
    <li>Mobielnr.</li>
    <li>E-mailadres</li>-->
</ul>
    </div>
</body>
</html>