<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title>register new user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <script th:src="@{/js/script.js}" src="/js/script.js"></script>
    <style>
        .container {
            margin-left: 50px;
            margin-top: 10px;
        }

        .fault {
            color: firebrick;
            font-size: 15px;
        }

        .login-link {
            color: #3c3f41;
        }
    </style>
</head>
<body>
<div class="offset-lg-2 col-lg-6">
    <div th:replace="fragments/header"></div>
</div>
<div class="offset-lg-3 col-lg-6">
    <form th:action="@{/user/register}" method="post" enctype="multipart/form-data"
          onsubmit="return checkPassword(this)">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    REGISTER
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2 input-label">
                <div class="row">
                    <label for="username">Gebruikersnaam:</label>
                </div>
                <div class="row">
                    <label for="password">Wachtwoord:</label>
                </div>
                <div class="row">
                    <label for="rePassword">Bevestig wachtwoord:</label>
                </div>
                <div class="row">
                    <label for="birthDate">Geboortedatum:</label>
                </div>
                <div class="row">
                    <label for="email">Email:</label>
                </div>
                <div class="row">
                    <label for="hairColor">Haarkleur:</label>
                </div>
                <div class="row">
                    <label for="profilePicture">Profiel foto:</label>
                </div>
                <div class="row">
                    <label for="fullPicture">Volledige foto:</label>
                </div>
                <div class="row">
                    <label for="length">Lengte in Meter:</label>
                </div>
                <div class="row">
                    <label for="nationalInsuranceNumber">Rijksregisternummer:</label>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <input class="m-lg-1 input" type="text" name="username" id="username" required><br>
                    <p th:if="${userName}">De gekozen gebruikersnaam is al in gebruik gelieve een andere te
                        gebruiken</p><br th:if="${userName}">
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="password" name="password" id="password" required>
                    <p style="display: none" id="noPassword" class="fault">
                        You didn't enter a password
                    </p>
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="password" id="rePassword" name="rePassword" required>
                    <p style="display: none" id="noConfirmPassword" class="fault">
                        you din't confirm your password
                    </p>
                    <p style="display: none" id="noMatch" class="fault">
                        passwords don't match
                    </p>
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="date" name="birthDate" id="birthDate">
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="text" name="email" id="email">
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="text" name="hairColor" id="hairColor">
                </div>
                <div class="row">
                    <input class="file-input m-lg-1" type="file" name="profilePicture" id="profilePicture">
                </div>
                <div class="row">
                    <input class="file-input m-lg-1" type="file" name="fullPicture" id="fullPicture">
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="number" name="length" id="length" step="0.01">
                </div>
                <div class="row">
                    <input class="m-lg-1 input" type="text" name="nationalInsuranceNumber" id="nationalInsuranceNumber">
                </div>
            </div>
        </div>
        <div class="row">
            <input class="btn btn-primary m-lg-1" type="submit" name="register" id="register" value="Register">
            <p class="login-link-text">Heb je al een account?<a class="login-link" th:href="|/login|">klik hier</a></p>
        </div>
    </form>
</div>

</body>
</html>