<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title>Who is going?</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header"></div>

<div class="container">
    <div class="card-columns">
        <div class="card" th:each="profile :${profiles}">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <p th:text="${profile.getUserId().getUsername()}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <p>E-mail: </p>
                            </div>
                            <div class="col-9">
                                <p th:text="${profile.getEmail()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>