<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fragmentsHeader</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1">
            <h1>Setalight</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <a href="/user/register">register</a>
        </div>
        <div class="col-1">
            <a href="/login">login</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCTIEHUIS')">
                only for the OG's
            </div>
        </div>
    </div>
</div>
</body>
</html>