<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fragmentsHeader</title>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-1">
            <h1>Setalight</h1>
        </div>
    </div>
    <div sec:authorize="isAnonymous()" class="row">
        <div class="col-1">
            <a class="menu-link" href="/">Home</a>
        </div>
        <div class="col-1">
            <a class="menu-link"  href="/user/register">register</a>
        </div>
        <div class="col-1">
            <a class="menu-link" href="/login">login</a>
        </div>
        <!--            Add here extra stuff if needed for when no one is logged in-->
    </div>
    <div  class="row">
        <div sec:authorize="isAuthenticated()" class="col-1">
            <a class="menu-link" href="/">Home</a>
        </div>
        <div sec:authorize="hasAnyAuthority('USER')" class="col-1">
            <a class="user menu-link" th:text="|${user.getUsername()}|" th:href="'/user/profilepage/' + ${user.getId()}" href="/">Profiel</a>
        </div>
        <div sec:authorize="hasAnyAuthority('PRODUCTIEHUIS')" class="col-1">
            <a class="productiehuis menu-link" th:text="|${user.getUsername()}|" th:href="'/productiehuis/profilepageProductiehuis/' + ${user.getId()}" href="/">Profiel</a>
        </div>
        <div sec:authorize="hasAnyAuthority('PRODUCTIEHUIS')" class="col-1">
            <a class="menu-link" href="/event/event">New_Event</a>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN')" class="col-2">
            <a class="menu-link" href="/admin/verifyproductiehuis">productiehuizen</a>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN' , 'USER')" class="col-1">
            <a class="menu-link" href="/" th:href="'/user/rewards/' + ${user.getId()}"> rewards </a>
        </div>
        <div sec:authorize="hasAuthority('USER')" class="col-1">
            <a class="menu-link" href="/week-calendar">Caleder</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-1">
            <form class="menu-link" th:action="@{/logout}" method="post">
                <input class="menu-link" type="submit" id="logout" name="logout" value="Logout">
            </form>
        </div>

        <!--            Add here extra stuff for when some one is logged in-->
    </div>

</div>
</body>
</html>