<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>fragmentsHeader</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1">
            <h1>Setalight</h1>
        </div>
    </div>
    <div sec:authorize="isAnonymous()" class="row">
        <div class="col-1">
            <a href="/">Home</a>
        </div>
        <div class="col-1">
            <a href="/user/register">register</a>
        </div>
        <div class="col-1">
            <a href="/login">login</a>
        </div>
        <!--            Add here extra stuff if needed for when no one is logged in-->
    </div>
    <div sec:authorize="isAuthenticated()" class="row">
        <div class="col-1">
            <a href="/">Home</a>
        </div>
        <div class="col-1">
            <form th:action="@{/logout}" method="post">
                <input class="btn-primary" type="submit" id="logout" name="logout" value="Logout">
            </form>

        </div>
        <div class="col-1">
            <a th:href="'/user/profilepage/' + ${user.getId()}" href="/">profile</a>
        </div>

        <!--            Add here extra stuff for when some one is logged in-->
    </div>
    <div sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCTIEHUIS')" class="row">
        <div class="col-3">
            <a href="/event/event">create event</a>
        </div>
        <div class="col-3">
            <a href="/event/events">events</a>
        </div>
<!--        Add here extra stuff for when an ADMIN/PRODUCTIEHUIS is logged in-->
    </div>
</div>
</body>
</html>