/*
oranje:#EC7969
wit:#ffffff
zwart:#000000
grijs:#3c3f41
transparent:rgba(0,0,0,0)
*/
body{
    /*background-color: rgb(35, 35, 35);*/
    background-image: url("/img/nsplsh_31494e3957795170353641_mv2_d_5472_3648_s_4_2.jpg");
    background-size: cover;
    color: #ffffff;

}
h1{
    color: #EC7969;
}

.menu-link{
    color: #ffffff;
    background-color: transparent ;
    border: 0;
}

.menu-link:hover{
    color: #EC7969;
    text-decoration: none;
}
.menu-link:active{
    color: #EC7969;
    text-decoration: none;
}
.input{
    background-color: #3c3f41;
    border-radius: 5px;
    color:#ffffff;
}
.input:focus{
    color: #EC7969;
}
.btn-primary{
    background-color: #EC7969;
    border: 2px solid #EC7969;
    color: #000000;
    border-radius: 0px;
}
.btn-primary:hover{
    background-color: rgba(0,0,0,0);
    border-color: #EC7969;
    border: 2px solid;
    color: #EC7969;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: rgba(0,0,0,0);
    border-color: #EC7969;
    color: #EC7969;
    box-shadow: none;
}
btn-primary:link{
    background-color: rgba(0,0,0,0);
    border-color: #EC7969;
    color: #EC7969;
    box-shadow: none;
}
.btn-primary:focus{
    background-color: #EC7969;
    border-color: #EC7969;
    color: #ffffff;
    box-shadow: none;
}
.file-input::-webkit-file-upload-button{
    background-color: #EC7969;
    border: 2px solid #EC7969;
    color: #000000;
    border-radius: 0px;
}
.file-input::-webkit-file-upload-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: #EC7969;
    border: 2px solid;
    color: #EC7969;
}
.login-link-text{
    font-size: small;
    display: inline;
}
.login-link{
    color: #ec7969;
}
.login-link:hover{
    color: #ffffff;
}
.data {
    color:#ec7969;
}

.filterButtons {
    position: absolute;
    padding-left: 65%;
}

.filterButtons a {
    color: #ffffff;
    text-decoration: none;
}

.filterButtons li {
    list-style: none;
}

.filterButtons a:hover {
    color: #EC7969;
}
.calender {
    width: 25em;
    height: 31em;
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 5px #c9c9c9;
    text-align: center;
    margin: 4em auto;
    position: relative;

}