/*
oranje:#EC7969
wit:#ffffff
zwart:#000000
*/
body{
    background-color: rgb(35, 35, 35);
    color: #ffffff;
}
h1{
    color: #EC7969;
}

.menu-link{
    color: #ffffff;
}
.menu-link:hover{
    color: #EC7969;
    text-decoration: none;
}
.input{
    background-color: #3c3f41;
    border-radius: 5px;
}
.btn-primary{
    background-color: #EC7969;
    border-color: #EC7969;
    color: #ffffff;
}
.btn-primary:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #EC7969;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #EC7969;
    background-color: #ffffff;
    border-color: #ffffff;
}
btn-primary:link{
    background-color: #EC7969;
    border-color: #EC7969;
    color: #ffffff;
}
.btn-primary:focus{
    background-color: #EC7969;
    border-color: #EC7969;
    color: #ffffff;
    box-shadow: 0 0 0 .2rem #ec7969;
}

.data {
    color:#ec7969;
}
