<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acces Denied</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                You can't acces the requested page
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                You don't have the rights
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="menu-link" href="/">Homepage</a>
        </div>
    </div>
</div>
</body>
</html>