<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:value="${application}">Setalight</title>
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>

<div class="container">
<form th:action="@{|/event/edit-event/${event.id}|}" th:method="post">
    <div class="row">
        <label class="col-2" for="name"> Name event:</label>
        <input class="input col-2" type="text" id="name" name="name" th:value="${event.getName()}">
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="description"> description:</label>
        <textarea class="input col-2" type="text" id="description" name="description" th:text="${event.getDescription()}"></textarea>
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="amountOfParticipants"> aantal deelnemers:</label>
        <input class="input col-2" type="number" id="amountOfParticipants" name="amountOfParticipants" th:value="${event.getAmountOfParticipants()}">
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="typeWanted"> gezocht:</label>
        <select class="input col-2" id="typeWanted" name="typeWanted" >
            <option th:text="figurant"/>
            <option th:text="publiek"/>
        </select>
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="date"> datum:</label>
        <input class="input col-2" type="date" id="date" name="date" th:value="${event.getDateStringEvent()}">
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="startTime"> begin tijd:</label>
        <input class="input col-2" type="time" id="startTime" name="startTime" th:value="${event.getStartTime()}"  >
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="endTime"> eind tijd:</label>
        <input class="input col-2" type="time" id="endTime" name="endTime" th:value="${event.getEndTime()}"  >
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="city"> stad/gemeente:</label>
        <input class="input col-2" type="text" id="city" name="city" th:value="${event.getCity()}">
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="postcode"> postcode:</label>
        <input class="input col-2" type="text" id="postcode" name="postcode" th:value="${event.getPostcode()}">
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="street"> straatnaam:</label>
        <input class="input col-2" type="text" id="street" name="street" th:value="${event.getStreet()}">
    </div>
    <br>
    <div class="row">
        <label class="col-2" for="houseNumber"> huisnummer:</label>
        <input class="input col-2" type="text" id="houseNumber" name="houseNumber" th:value="${event.getHouseNumber()}">
    </div>
    <br>
    <div class="buttons">
        <input class="btn btn-primary" type="submit" value="Save" >
        <a class="btn btn-primary" href="/" >cancel</a>
    </div>
</form>

</div>
</body>
</html>