<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:value="${application}">Setalight</title>
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>
<form th:action="@{|/event/edit-event/${event.id}|}" th:method="post">
    <div>
        <label class="align-middle" for="name"> Name event:</label>
        <input class="input" type="text" id="name" name="name" th:value="${event.getName()}">
    </div>
    <div>
        <label for="description"> description:</label>
        <textarea class="input" type="text" id="description" name="description" th:text="${event.getDescription()}"></textarea>
    </div>
    <div>
        <label for="name"> aantal deelnemers:</label>
        <input class="input" type="number" id="aantaldeelnemers" name="aantaldeelnemers" th:value="${event.getAantalDeelnemers()}">
    </div>
    <div>
        <label for="date"> datum:</label>
        <input class="input" type="text" id="date" name="date" th:value="${event.getDateString()}">
    </div>
    <div class="buttons">
        <input class="btn btn-primary" type="submit" value="Save" >
        <a class="btn btn-primary" href="/event/events" >cancel</a>
    </div>
</form>


</body>
</html>