<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:value="${application}">Setalight</title>
</head>
<body>
<h1>Setalight</h1>
<a href="/">Home</a><br>
<br>
<div th:each="event : ${events}">
    <p th:text="${event.getName()}"></p>
</div>
<form th:action="@{|/event/|}" th:method="post">
    <div>
        <input type="text" id="name" name="name">
        <label for="name"> Name event:</label>
    </div>
    <div>
        <input type="text" id="description" name="description">
        <label for="description"> description:</label>
    </div>
    <div>
        <input type="number" id="aantaldeelnemers" name="aantaldeelnemers">
        <label for="name"> aantal deelnemers</label>
    </div>
    <div class="buttons">
        <input type="submit" value="Create" >
        <a href="/" >cancel</a>
    </div>
</form>


</body>
</html>