<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:value="${application}">Setalight</title>
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>

<div class="container">
<form th:action="@{|/event/event/|}" th:method="post">
    <div class="row">
        <label class="col-2" for="name"> Name event:</label>
        <input class="input col-2" type="text" id="name" name="name">
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="description"> description:</label>
        <textarea class="input col-2" id="description" name="description"></textarea>
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="aantaldeelnemers"> aantal deelnemers:</label>
        <input class="input col-2" type="number" id="aantaldeelnemers" name="aantaldeelnemers">
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="typeWanted"> gezocht:</label>
        <select class="input col-2" id="typeWanted" name="typeWanted">
            <option th:value="'figurant'" th:text="figurant"/>
            <option th:value="'publiek'" th:text="publiek"/>
        </select>
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="date"> datum:</label>
        <input class="input col-2" type="date" id="date" name="date"  >
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="startTime"> begin tijd:</label>
        <input class="input col-2" type="time" id="startTime" name="startTime"  >
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="endTime"> eind tijd:</label>
        <input class="input col-2" type="time" id="endTime" name="endTime"  >
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="city"> stad/gemeente:</label>
        <input class="input col-2" type="text" id="city" name="city">
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="postcode"> postcode:</label>
        <input class="input col-2" type="text" id="postcode" name="postcode">
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="street"> straatnaam:</label>
        <input class="input col-2" type="text" id="street" name="street">
    <div>
        <label for="amountOfParticipants"> aantal deelnemers:</label>
        <input class="input" type="number" id="amountOfParticipants" name="amountOfParticipants">
    </div>
    <br>
    <div class="row">
        <label class="col-2"  for="houseNumber"> huisnummer:</label>
        <input class="input col-2" type="text" id="houseNumber" name="houseNumber">
    </div >
    <br>
    <div class="buttons">
        <input class="btn btn-primary" type="submit" value="Create">
        <a class="btn btn-primary" href="/" >cancel</a>
    </div>
</form>
</div>

</body>
</html>