<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <title th:value="${application}">Setalight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/Calender-script.js}"
            src="/js/Calender-script.js"></script>


    <!--    add here personal CSS-->
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <div class="card-columns">
                <div th:each="event : ${events}" class="card p-2">
                    <div class="row">
                        <div class="col-5">
                            <h3 th:text="${event.getName()}">eventName</h3>
                        </div>
                        <div class="col-7">
                            <h3 th:if="${event.isCanceled()}">(Canceled)</h3>
                        </div>
                    </div>
                    <p th:text="${event.getDescription()}">description</p>
                    <p th:text="${event.getDateString()}">datum</p>
                    <p th:text="'begin tijd ' + ${event.getStartTime()}">startTate</p>
                    <p th:text="'eind tijd ' + ${event.getEndTime()}">endTime</p>
                    <div class="card-footer">
                        <a th:href="'/event/events/' + ${event.getId()}" class="btn btn-danger" href="/">extra info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 order-md-5 col-lg-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="small-calender">
                        <div id="header" class="clearfix">
                            <div class="pre-button"><</div>
                            <div class="head-info" id="head-info">
                                <div class="head-day"></div>
                                <div class="head-month"></div>
                            </div>
                            <div class="next-button">></div>
                        </div>
                        <table id="calendar">
                            <thead>
                            <tr>
                                <th>Ma</th>
                                <th>Di</th>
                                <th>Wo</th>
                                <th>Do</th>
                                <th>vr</th>
                                <th>za</th>
                                <th>zo</th>
                            </tr>
                            </thead>
                            <tbody id="body">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-11 offset-1 filterButtons">
                    <ul>
                        <li th:each="filter : ${filterButtons}">
                            <a class="btn btn-dark" th:text="${filter}" th:href="'/filter/' + ${filter}" href="/filter"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let events = /*[[${events}]]*/ 'default'
    let popUpMessage = /*[[${PopUpMessage}]]*/ ''
    let invitedEvents = /*[[${invitedEvents}]]*/ ''
    /*]]>*/
    window.addEventListener("DOMContentLoaded", () => {
        if (popUpMessage!==''&& popUpMessage){
            alert(popUpMessage);
        }
        for (let event of invitedEvents){
            if (window.confirm())
        }
        let header = document.getElementById("head-info");
        let body = document.getElementById("body");
        let pre = document.getElementsByClassName("pre-button");
        let next = document.getElementsByClassName("next-button");
        pre[0].addEventListener("click", () => {
            updateEvents(events, header, body)
        });
        next[0].addEventListener("click", () => {
            updateEvents(events, header, body)
        });
        updateEvents(events, header, body);
    });



    const updateEvents = function (events, header, body) {
        document.getElementById("event").innerHTML = "";
        let monthYear = header.children[1].innerHTML;
        let monthU = monthYear.split("-")[0].replace(/\s+/g, '');
        let yearU = monthYear.split("-")[1].replace(/\s+/g, '');
        let today = header.children[0];
        switch (monthU) {
            case "Jan":
                monthU = "01";
                break;
            case "Feb":
                monthU = "02";
                break;
            case "Maa":
                monthU = "03";
                break;
            case "Apr":
                monthU = "04";
                break;
            case "Mei":
                monthU = "05";
                break;
            case "Jun":
                monthU = "06";
                break;
            case "Jul":
                monthU = "07";
                break;
            case "Aug":
                monthU = "08";
                break;
            case "Sep":
                monthU = "09";
                break;
            case "Okt":
                monthU = "10";
                break;
            case "Nov":
                monthU = "11";
                break;
            case "Dec":
                monthU = "12";
                break;
        }
        for (let children of body.children) {
            for (let child of children.children) {
                if (child.innerHTML.length !== 0) {
                    let childDate = yearU + "-" + monthU + "-" + child.innerHTML;
                    for (let event of events) {
                        let eventDate = event.date.split("T")[0];
                        if (eventDate === childDate) {
                            child.className = "eventDay " + event.id;
                            const ttBox = document.createElement("div");
                            ttBox.id = "eventToolTip " + event.id;
                            ttBox.style.visibility = "hidden"; // make it hidden till mouse over
                            ttBox.style.position = "fixed";
                            ttBox.style.top = "1ex";
                            ttBox.style.left = "1ex";
                            ttBox.style.padding = "0.5em";
                            ttBox.style.width = "30em";
                            ttBox.style.borderRadius = "1em";
                            ttBox.style.border = "solid thin gray";
                            ttBox.style.backgroundColor = "lightgrey";
                            document.getElementById("event").append(ttBox);
                            child.addEventListener("mouseover", event => {
                                mouseOver(event);
                            });
                            child.addEventListener("mouseout", event => {
                                mouseOut(event);
                            });
                            child.addEventListener("click", () => {
                                location.assign("/event/events/" + event.id);
                            });
                        }
                    }
                }
            }
        }
    }

    const mouseOver = function (event) {
        const boundBox = event.target.getBoundingClientRect();
        const coordX = boundBox.left;
        const coordY = boundBox.top;
        let elt = event.path[0];
        let ttBox = document.getElementById("eventToolTip " + elt.className.split(/\s+/g)[1]);
        ttBox.style.left = (coordX + 40).toString() + "px";
        ttBox.style.top = (coordY + 40).toString() + "px";
        let eventFromDb = findEvent(events, elt);
        let h3 = document.createElement("h3");
        h3.textContent = eventFromDb.name;
        let pDescription = document.createElement("p");
        pDescription.textContent = eventFromDb.description;
        let pStart = document.createElement("p");
        pStart.textContent = "start tijd: " + eventFromDb.startTime;
        let pEnd = document.createElement("p");
        pEnd.textContent = "eind tijd: " + eventFromDb.endTime;
        let div = document.createElement("div");
        div.append(h3, pDescription, pStart, pEnd)
        ttBox.append(div);
        for (let i = 0; i < ttBox.children.length; i++) {
            let currentChild = ttBox.children[i];
            let nextChild = ttBox.children[i + 1];
            if (nextChild !== undefined){
                if (currentChild.innerHTML === nextChild.innerHTML) {
                    ttBox.removeChild(nextChild);
                }
            }
        }
        ttBox.style.visibility = "visible";

    }

    const mouseOut = function (event) {
        let elt = event.path[0];
        let ttBox = document.getElementById("eventToolTip " + elt.className.split(/\s+/g)[1]);
        ttBox.style.visibility = "hidden";
        ttBox.innerHTML = "";
    }

    const findEvent = function (events, elt) {

        for (let obj of events) {
            if (obj.id.toString() === elt.className.split(/\s+/g)[1]) {
                return obj;
            }
        }
    }
</script>
<div id="event"></div>
</body>
</html>