<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:value="${application}">Setalight</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
<!--    add here personal CSS-->
</head>
<body>
<div th:replace="fragments/header">Header</div>
<a href="/user/register">register</a><br>
<a href="/login">login</a><br>
<a href="/logout">logout</a><br>
<a href="/event/event">create event</a><br>

<br>
<a href="/admin/register">admin register</a><br>
<div th:each="event : ${events}">
    <a th:text="${event.getName()}" th:href="${'/event/edit-event/' + event.getId()}"  href="/edit-event/eventId"></a>
</div>
<a th:href="'/productiehuis/page/' + ${user.getId()}" href="/">I am a big retard?</a>
</body>
</html>