<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>User login</title>
</head>
<body>
<div class="row">
    <div class="offset-lg-2 col-lg-8">
        <form th:action="@{/login}" method="post">
            <h1 class="text-center">
                Login
            </h1>
            <label for="username">Enter your username here:</label>
            <input class="input" type="text" id="username" name="username" size="60"><br>
            <label for="password">Enter your password here:</label>
            <input class="input" type="password" id="password" name="password" size="60"><br>
            <input class="btn btn-primary" type="submit" id="login" name="login" value="Login">
        </form>
    </div>
</div>
</body>
</html>