<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title>Setalight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header">Header</div>
<div class="container">
<div class="col-6">
    <div>
        <h2 th:text="${event.getName()}">name </h2>
    </div>
    <div>
        <p th:text="${event.getDescription()}"></p>
    </div>
    <div>
        <p th:text="'gezocht :' +${event.getTypeWanted()}"></p>
    </div>

    <div>
        <p th:text="${event.getDateString()}"></p>
        <div>
            <label for="startTime">begin tijd :</label>
            <p id="startTime" th:text="${event.getStartTime()}"></p>
        </div>
        <div>
            <label for="endTime">eind tijd :</label>
            <p id="endTime" th:text="${event.getEndTime()}"></p>
        </div>
    </div>
    <div>
        <p>adres:</p>
        <p th:text="${event.getCityAndPostcode()}"></p>
        <p th:text="${event.getStreetAndNumber()}"></p>
    </div>
    <div>
        maximun aantal deelnermers:
        <p th:text="${event.getAmountOfParticipants()}"></p>
    </div>
    <div>
        aantal deelnermers:
        <p th:text="${event.countUsers()}"></p>
    </div>

    <div sec:authorize="hasAnyAuthority('USER')">
    <form th:action="@{|/event/events/${event.getId()}|}" method="post">
        <input class="btn btn-primary" type="submit" id="going" name="going" th:value="'I am going!'">
    </form>
    </div>


    <div sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCTIEHUIS')" >
        <a class="btn btn-primary"  th:href="${'/event/edit-event/' + event.getId()}"  href="/edit-event/eventId">edit event</a>
    </div>

        <h4>Productiehuis informatie</h4>
        <br>
        <div class="row">
            <p>Naam bedrijf : </p>
            <p th:text="${productiehuisProfile.getNameCompany()}"></p>
        </div>
        <div class="row">
            <p>beschrijving : </p>
            <p  th:text="${productiehuisProfile.getDescription()}"></p>
        </div>
        <div class="row">
            <p >Naam eigenaar : </p>
            <p  th:text="${productiehuisProfile.getNameOwner()}"></p>
        </div>
        <h5>Locatie:</h5>
        <div class="row">
            <p >Provincie : </p>
            <p  th:text="${productiehuisProfile.getProvince()}"></p>
        </div>
        <div class="row">
            <p >Stad : </p>
            <p  th:text="${productiehuisProfile.getCity()}"></p>
        </div>
        <div class="row">
            <p >Straatnaam : </p>
            <p  th:text="${productiehuisProfile.getStreet()}"></p>
        </div>
        <div class="row">
            <p >Postcode : </p>
            <p  th:text="${productiehuisProfile.getPostalCode()}"></p>
        </div>
        <div class="row">
            <p >Huisnummber : </p>
            <p  th:text="${productiehuisProfile.getHouseNumber()}"></p>
        </div>
    </div>
</div>

</body>
</html>