<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <title>Setalight</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header">Header</div>
<br>
<div class="container ">
    <div class="card-columns event-cards">
        <div class="card p-2 ">
            <h3 th:text="${event.getName()}">eventName</h3>
            <div th:if="${not #lists.isEmpty(event.picture)}">
                <img class="card-img-top" th:src="${event.getPicture()}" alt="Reward">
            </div>
            <p th:if="${event.isCanceled()}" class="font-weight-bold">Dit event is gecanceled!</p>
            <p th:text="${event.getDescription()}">description</p>
            <p th:text="${event.getDateString()}">datum</p>
            <p th:text="'gezocht: ' +${event.getTypeWanted()}"></p>
            <p th:text="'begin tijd: ' + ${event.getStartTime()}">startDate</p>
            <p th:text="'eind tijd: ' + ${event.getEndTime()}">endTime</p>
            <p th:text="'maximun aantal deelnermers: ' +${event.getAmountOfParticipants()}"></p>
            <p th:text="'aantal deelnermers: '+${event.countUsers()}"></p>
            <h3>adres</h3>
            <p th:text="${event.getCityAndPostcode()}"></p>
            <p th:text="${event.getStreetAndNumber()}"></p>
            <div sec:authorize="hasAnyAuthority('USER')" class="card-footer">
                <div class="row">
                    <div class="col-5">
                        <form th:action="@{|/event/events/${event.getId()}|}" method="post">
                            <input class="btn btn-primary" type="submit" id="going" name="going" th:value="'Ik kom!'">
                        </form>
                    </div>
                    <div class="col-7">
                        <a href="/" th:href="'/user/usersGoing/'+${event.getId()}" class="btn btn-primary">Wie gaat
                            er</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCTIEHUIS')" class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <p th:text="'reward code: '+${event.getRewardCode()}"></p>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-primary" th:href="${'/event/edit-event/' + event.getId()}"
                           href="/edit-event/eventId">edit
                            event</a>
                    </div>
                    <div class="col-12 mt-2">
                        <a class="btn btn-primary" th:href="${'/productiehuis/aanwezigen/' + event.getId()}"
                           href="/edit-event/eventId">Lijst aanwezigen</a>
                    </div>
                    <div class="col-12 mt-2">
                        <form th:action="@{|/event/canceled/${event.getId()}|}" method="post">
                            <input type="submit" class="btn btn-primary" value="Annuleer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-2 ">
            <h2>Productiehuis informatie:</h2>
            <h3 th:text="${productiehuisProfile.getNameCompany()}"></h3>
            <p th:text="${productiehuisProfile.getDescription()}"></p>
            <p th:text="'Naam eigenaar: ' +${productiehuisProfile.getNameOwner()}"></p>
            <h5>Locatie:</h5>
            <p th:text="'Provincie: '+${productiehuisProfile.getProvince()}"></p>
            <p th:text="${productiehuisProfile.getCityAndPostcode()}"></p>
            <p th:text="${productiehuisProfile.getStreetAndNumber()}"></p>

        </div>
    </div>


</div>


</body>
</html>