<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <title>weekCalendar</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-11">
            //extra data
        </div>
        <div class="col-1" id="today"></div>
    </div>
    <div class="row week-calender">
        <div class="col">
            <div class="row">
                <p>week of month</p>
            </div>
            <div class="row 9">
                <p>9:00</p>
            </div>
            <div class="row 10">
                <p>10:00</p>
            </div>
            <div class="row 11">
                <p>11:00</p>
            </div>
            <div class="row 12">
                <p>12:00</p>
            </div>
            <div class="row 13">
                <p>13:00</p>
            </div>
            <div class="row 14">
                <p>14:00</p>
            </div>
            <div class="row 15">
                <p>15:00</p>
            </div>
            <div class="row 16">
                <P>16:00</P>
            </div>
            <div class="row 17">
                <p>17:00</p>
            </div>
            <div class="row 18">
                <p>18:00</p>
            </div>
            <div class="row 19">
                <p>19:00</p>
            </div>
            <div class="row 20">
                <p>20:00</p>
            </div>
            <div class="row 21">
                <p>21:00</p>
            </div>
            <div class="row 22">
                <p>22:00</p>
            </div>
            <div class="row 23">
                <p>23:00</p>
            </div>
            <div class="row 24">
                <p>24:00</p>
            </div>
        </div>
        <div class="col" id="maa">
            <div class="row">
                <p>Maa</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
        <div class="col" id="din">
            <div class="row">
                <p>Din</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
        <div class="col" id="woe">
            <div class="row">
                <p>Woe</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
        <div class="col" id="don">
            <div class="row">
                <p>Don</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
        <div class="col" id="vrij">
            <div class="row">
                <p>Vrij</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
        <div class="col" id="zat">
            <div class="row">
                <p>Zat</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
        <div class="col" id="zon">
            <div class="row">
                <p>Zon</p>
            </div>
            <div class="row 9"></div>
            <div class="row 10"></div>
            <div class="row 11"></div>
            <div class="row 12"></div>
            <div class="row 13"></div>
            <div class="row 14"></div>
            <div class="row 15"></div>
            <div class="row 16"></div>
            <div class="row 17"></div>
            <div class="row 18"></div>
            <div class="row 19"></div>
            <div class="row 20"></div>
            <div class="row 21"></div>
            <div class="row 22"></div>
            <div class="row 23"></div>
            <div class="row 24"></div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let events = /*[[${events}]]*/ 'default'
    /*]]>*/
    let today = new Date();
    let date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear()
    console.log(today);
    console.log(today.getDay())//day of week
    console.log(date);
    window.addEventListener("DOMContentLoaded", () => {
        let todayHTML = document.getElementById("today");
        todayHTML.innerHTML = date;
        for (let i = 1; i <= 7; i++) {
            let day;
            let dayDate = new Date();
            if (i < today.getDay()) {
                day = document.getElementById(getCurrentDay(i));
                dayDate.setDate(today.getDate() - (today.getDay() - i));
                console.log(day);
                console.log(dayDate)
            } else if (i === today.getDay()) {
                day = document.getElementById(getCurrentDay(i));
                dayDate = today;
                console.log(day)
                console.log(dayDate);
            } else if (i > today.getDay()) {
                day = document.getElementById(getCurrentDay(i));
                console.log(day)
                dayDate.setDate(today.getDate() + (i - today.getDay()));
                console.log(dayDate);
            }
        }
    })

    const getCurrentDay = function (day) {
        switch (day) {
            case 1:
                return "maa";
            case 2:
                return "din";
            case 3:
                return "woe";
            case 4:
                return "don";
            case 5:
                return "vrij";
            case 6:
                return "zat";
            case 7:
                return "zon";
        }
    }
</script>
</body>
</html>