<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <title>weekCalendar</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        //extra data
    </div>
    <div class="row week-calender">
        <div class="col">
            <div class="row">
                <p>week of month</p>
            </div>
            <div class="row">
                <p>9:00</p>
            </div>
            <div class="row">
                <p>10:00</p>
            </div>
            <div class="row">
                <p>11:00</p>
            </div>
            <div class="row">
                <p>12:00</p>
            </div>
            <div class="row">
                <p>13:00</p>
            </div>
            <div class="row">
                <p>14:00</p>
            </div>
            <div class="row">
                <p>15:00</p>
            </div>
            <div class="row">
                <P>16:00</P>
            </div>
            <div class="row">
                <p>17:00</p>
            </div>
            <div class="row">
                <p>18:00</p>
            </div>
            <div class="row">
                <p>19:00</p>
            </div>
            <div class="row">
                <p>20:00</p>
            </div>
            <div class="row">
                <p>21:00</p>
            </div>
            <div class="row">
                <p>22:00</p>
            </div>
            <div class="row">
                <p>23:00</p>
            </div>
            <div class="row">
                <p>24:00</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Maa</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Din</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Woe</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Don</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Vrij</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Zat</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Zon</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>